<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.7b">
    <!--"id" identifica seu plug-in de forma global. Deve ser exclusivo, conter apenas caracteres alfanuméricos, underlines, pontos e deve conter pelo menos 5 caracteres e um máximo de 40. Depois de definir o ID, você não deve alterá-lo ;)-->
    <id>br.com.vitalhub.3DeT_SDK3</id>
    <!--"version" é a versão do seu plugin. Quando você lança uma nova versão do seu módulo, altere aqui =)-->
    <version>0.4</version>
    <info lang="pt-BR">
        <!--Informações do plugin na língua "pt-BR". Você pode ter várias tags "info", uma para cada tradução que quiser.-->
        <name>3D&amp;T</name>
        <description>Modelo de ficha de 3D&amp;T</description>
        <author>shiv</author>
        <site>https://www.vitalhub.app.br</site>
        <contact>https://www.linkedin.com/in/kaique-sousa-farias/</contact>
    </info>
</module>
